---
---

$section-headings-color: #b7341f;

$header-bg-color: #b7341f;
$header-bg-color-secondary: #ec9f2c;

@import "{{ site.theme }}";

#skip-to-content {
  height: 1px;
  width: 1px;
  position: absolute;
  overflow: hidden;
  top: -10px;
}

#parent-container {
  display: flex;
}
#parent-container > div {
  flex-grow: 1;
}

#parent-container > div > img {
  border-radius: 50%;
}


dd {
  margin-bottom: 0.2rem;
}
