---
---

$section-headings-color: #b7341f;

$header-bg-color: #b7341f;
$header-bg-color-secondary: #ec9f2c;

@import "{{ site.theme }}";

.image-container {
  width: 100%;
  text-align: center;
}

.image-container > img {
  border-radius: 50%;
  width: 40%;
}

dd {
  margin-bottom: 0.2rem;
}
